<% if @exercise_session %>
  <p class="notice">
    You just did <%= pluralize @exercise_session.reps, @exercise_session.exercise.name.downcase %>.
    <%= link_to "No I didn't!", @exercise_session, confirm: "Do you want to delete this set of #{pluralize @exercise_session.reps, @exercise_session.exercise.name.downcase}?", method: :delete %>
  </p>
<% end %>

<h2>Welcome!</h2>

<p><%= WelcomeMessage.for(current_user) %></p>

<%= link_to "I just did something awesome!", new_exercise_session_path %><br/><br/>

<%= link_to "Show me all the awesome stuff I've done", exercise_sessions_path %>