<%= form_for(@welcome_message) do |f| %>
  <% if @welcome_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@welcome_message.errors.count, "error") %> prohibited this welcome_message from being saved:</h2>

      <ul>
      <% @welcome_message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
